body{
	/*background-color: gray; */
	/*margin-top: 45px;*/
	background-image: url("Cornhole-Tournament-3.png");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 80%;
	font-family: 'Open Sans', sans-serif;
	padding-top: 80px;
	
}

#scoreboard {
	text-align: center;
	margin-top: 30px;
}

#blue {
	display: inline-block;
	width: 30%;
	background: rgba(192, 192, 192, .90);
	border: 2px solid;
	border-radius: 5px;
	margin-right: 20px;
}

#blue_name {
	font-size: 50px;
	color: blue;
}

#blue_score {
	font-size: 100px;
	color: blue;
}

#red {
	display: inline-block;
	width: 30%;
	background: rgba(192, 192, 192, .90);
	border: 2px solid;
	border-radius: 5px;
	margin-left: 20px;
}

#red_name {
	font-size: 50px;
	color: red;
}

#red_score {
	font-size: 100px;
	color: red;
}

#counters {
	text-align: center;
	margin-top: 10px;
}

#blue_team{
	display: inline-block;
	width: 30%;
	background: rgba(192, 192, 192, .90);
	border: 2px solid;
	border-radius: 5px;
	font-size: 25px;
	padding-bottom: 20px;
	margin-right: 20px;
}

#blue_on_board, #blue_in_hole, #clear_blue {
	background-color: blue;
	display: inline-block;
	font-size: 16px;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 3px 3px 3px #888888;
	margin: 7px 0px;
}

#blue_on_board, #blue_in_hole, #clear_blue:hover {
 cursor: pointer; cursor: hand; 
}

#red_team {
	display: inline-block;
	width: 30%;
	background: rgba(192, 192, 192, .90);
	border: 2px solid;
	border-radius: 5px;
	font-size: 25px;
	padding-bottom: 20px;
	margin-left: 20px;
}

#red_on_board, #red_in_hole, #clear_red{
	background-color: red;
	display: inline-block;
	font-size: 16px;
	color: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 3px 3px 3px #888888;
	margin: 7px 0px;
}

#red_on_board, #red_in_hole, #clear_red:hover {
 cursor: pointer; cursor: hand; 
}

#total{
	background-color: green;
	display: inline-block;
	text-align: center;
	font-size: 25px;
	color: white;
	margin-top: 5px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #888888;
}

#total:hover{
	cursor: pointer; cursor: hand; 
}

#new_game {
	background-color: black;
	color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #888888;
	margin-top: 20px;
}

#new_game:hover{
	cursor: pointer; cursor: hand; 
}

@media (max-width: 850px) {
body{
		background-size: 675px;
	}
}

@media (max-width: 640px) {

	#rblue_name {
		font-size: 30px;
		color: blue;
	}

	#red_name {
		font-size: 30px;
		color: red;
	}
}
