html, body{
	height: 100%;
}
#reset {
	position: fixed;
	display: inline-block;
	text-align: center;
	background-color: black;
	color: white;
	font-size: 20px;
	width: 100%;
	padding: 7.5px 0px;
}

#left {
	height: 100%;
	width: 50%;
	background-color: blue;
	display: inline-block;
	float: left;
}

#right {
	height: 100%;
	width: 50%;
	background-color: red;
	display: inline-block;
	float: left;
}

#left_score {
	font-size: 15em;
	color: white;
	position: absolute;
	display: inline-block;
	left: 18%;
	top: 35%;
}

#right_score {
	font-size: 15em;
	color: white;
	position: absolute;
	display: inline-block;
	right: 18%;
	top: 35%;
}

@media (max-width: 950px){

	#left_score, #right_score{
		font-size: 10em;
	}
}


@media (max-width: 600px){

	#left_score, #right_score{
		font-size: 7em;
	}
}

@media (max-width: 500px){

	#left_score, #right_score{
		font-size: 5.5em;
	}
}

@media (max-width: 100px){

	#left_score, #right_score{
		font-size: 3.5em;
	}
}

